<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/2f44f06d81.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/bulma-prefers-dark"
    />
    <title>Tobox</title>
  </head>

  <body style="padding: 50px">
    <h2 class="title">
			<form action="/api/logout" method="POST">
	      <a
	        class="button is-primary is-rounded"
	        style="float: right; margin: 3px 3px 3px 3px"
					href="/new"
	      >
	        <i class="fa-solid fa-plus"></i>
	      </a>
	      <button
	        class="button is-danger is-rounded"
	        style="float: right; margin: 3px 3px 3px 3px"
					type="submit"
	      >
	        <i class="fas fa-door-open"></i>
	      </button>
			</form>
      Hey, <%= user.username %>!
    </h2>
    <hr />
    <div class="block">
      <div>
        <div>
          <% if (user.todos.length===0) { %>
          <p>
            You currently have no tasks... <a href="/new">Create a new one!</a>
          </p>
          <% } else { %>
          <h2 class="subtitle">Your tasks:</h2>
          <% user.todos.reverse().forEach((todo)=> { %>

          <div class="box">
            <p class="subtitle">
              <b id="title"> <a href="/view/<%= todo.todoId %>"><%= todo.title %></a> </b>&nbsp;
              <span style="color: grey"> <%= todo.date %> </span
              ><br />
							<form action="/api/del/<%= todo.todoId %>" method="POST">
								<a
		              class="button is-info"
									href="/edit/<%= todo.todoId %>"
		            >
		              <i class="fas fa-pencil-alt"></i></a
		            >&nbsp;
		            <button
		              class="button is-danger"
									type="submit"
		            >
		              <i class="fas fa-trash-alt"></i>
		            </button>
							</form>
            </p>
          </div>
          <hr />
        </div>
        <% }); %> <% } %>
      </div>
    </div>
		
  </body>
</html>
