<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <script
      src="https://kit.fontawesome.com/2f44f06d81.js"
      crossorigin="anonymous"
    ></script>
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-prefers-dark" />
    <style>
      body {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    </style>
    <title>Sign up</title>
  </head>

  <body>
    <h1 class="title">Sign up</h1>
    <form class="box" action="/api/signup" method="POST">
      <div class="field">
        <label class="label">Username</label>
        <div class="control">
          <input
            class="input"
            type="text"
            id="username"
            name="username"
            placeholder="Username"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
        </div>
      </div>

      <button class="button is-primary">Sign up</button>
    </form>
    <footer>Or instead, <a href="/signin">log in with your account</a>.</footer>
  </body>
</html>
